<!DOCTYPE html>
<html>
<head>
  <title>Escambo</title>
  <%= stylesheet_link_tag    "escambo/application", media: "all" %>
  <%= javascript_include_tag "escambo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
